.header-primary {
  margin-bottom: rem-calc(10px);
  background-color: $app-secondary-color;

  .logo {
    max-width: 40px;
  }

  .menu-button {
    margin-bottom: 0;
  }

  .menu {
    $global-padding: rem-calc(20px);

    margin-left: rem-calc(12px);
    position: relative;

    li {
      display: inline-block;
      cursor: pointer;

      &.border {
        border-right: 1px solid lighten($app-body-background, 3%);
      }

      &.search {
        padding: 0 $global-padding;
      }

      > a {
        color: $app-medium-gray;
        padding: $global-padding;
        display: block;
        transition: all 0.15s ease-out;

        &:hover {
          background: $app-primary-color;
          color: $app-white;
        }

        &.active {
          background: $app-body-background;
          color: $app-white;
        }
      }
    }
  }

  .show-search-form {
    position: relative;

    .results {
      position: absolute;
      top: 32px;
      left: 0;
      box-shadow: 0 2px 5px rgba($black, 0.4);
    }
  }

  @include breakpoint(medium up) {
    .menu {
      li.logout {
        position: absolute;
        right: 0;
      }

      li.search {
        display: flex;
        align-items: center;
      }

      .show-search-form {
        width: rem-calc(350px);
      }
    }
  }

  @include breakpoint(medium only) {
    .show-search-form.show-search-form {
      width: rem-calc(240px);
    }
  }

  @include breakpoint(small only) {
    $gutter: map-get($grid-margin-gutters, 'small');

    .menu-container {
      margin-left: rem-calc($gutter / -2);
      margin-right: rem-calc($gutter / -2);
      width: calc(100% + #{rem-calc($gutter)});
      display: none;

      &.is-mobile-active {
        display: block;
      }
    }

    .menu {
      margin-left: 0;

      li {
        width: 100%;
        margin-bottom: rem-calc(1px);

        a {
          &.active {
            background: $app-primary-color;
            color: $app-white;
          }
        }

        &.search {
          order: 4;
        }
      }
    }

    .main-content-container {
      padding: rem-calc($gutter / 2) 0;
    }
  }
}
