.horizontal-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-between;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    height: rem-calc(14px);
  }

  &::-webkit-scrollbar-track {
    background-color: darken($app-secondary-color, 5%);
  }

  // Handle
  &::-webkit-scrollbar-thumb {
    background: rgba($app-black, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba($app-black, 0.8);
  }

  .horizontal-item {
    width: rem-calc(100px);
    margin-right: rem-calc(6px);
    flex: 0 0 auto;

    .title {
      display: block;
      width: 100%;
      text-align: center;
      font-size: rem-calc(14px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: rem-calc(6px 0);
    }
  }
}
