.horizontal-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-between;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  .horizontal-item {
    width: rem-calc(100px);
    margin-right: rem-calc(6px);
    flex: 0 0 auto;

    .image-holder {
      width: rem-calc(100px);
      height: rem-calc(150px);
      display: flex;
    }

    .title {
      display: block;
      width: 100%;
      text-align: center;
      font-size: rem-calc(14px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: rem-calc(6px 0);
    }
  }
}
