.loading-page {
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;

  .main {
    flex: 1 0 100%;
    width: 100%;
    font-weight: bold;
  }

  .loader {
    font-size: rem-calc(80px);

    span {
      padding: 0 6px;
    }
  }
}
