@use 'sass:color';

.sub-nav {
  $inactive-color: color.adjust($app-white, $lightness: -38%);

  border-bottom: 2px solid color.adjust($inactive-color, $lightness: -20%);
  background-color: $app-secondary-color;

  .menu {
    &.grid-container {
      margin-left: auto;
      margin-right: auto;
    }

    > li {
      text-align: center;

      a {
        font-weight: bold;
        padding-top: rem-calc(18px);
        padding-bottom: rem-calc(18px);
        color: $inactive-color;
        border-bottom: 2px solid transparent;
        margin-bottom: -2px;
        transition: color 0.5s ease, border-color 0.5s ease;

        &:hover {
          color: color.adjust($inactive-color, $lightness: 10%);
        }

        &.active {
          border-bottom: 2px solid $app-primary-color;
          color: $app-primary-color;
        }
      }
    }
  }
}
