.layout.unauthorized {
  color: $white;

  &.overlay-bg {
    background: url('../images/unauthorized/bg.jpg') no-repeat center center;
    background-size: cover;
    height: auto; // prevent bg cut-off

    &:after {
      background: rgba($app-secondary-color, 0.9);
    }
  }

  $text-shadow: 1px 1px 3px $app-secondary-color;

  label:not(.is-invalid-label),
  p,
  h1 {
    color: $white;
    text-shadow: $text-shadow;
  }

  .primary-content {
    display: flex;

    .grid-container {
      align-self: flex-end;
      width: 100%;
    }
  }

  .page {
    margin-bottom: rem-calc(8px);

    .loading-results {
      line-height: 1;
    }

    &.login {
      input[name="password"] {
        margin-bottom: 0;
      }
    }

    .message-box {
      text-align: center;

      .message-text {
        font-weight: bold;
        margin-bottom: rem-calc(4px);
      }
    }
  }
}
