.episode-list-item {
  border-bottom: 1px solid $light-gray;

  &:last-child {
    border-bottom: 0;
  }

  a {
    color: $body-font-color;
    display: block;
    height: 100%;
    padding: rem-calc(20px 0);
    line-height: 1;

    &:hover {
      color: darken($body-font-color, 10%);
    }
  }

  .episode-name {
    margin-bottom: 0;
    display: block;
    line-height: 1.1;
  }

  .subheader {
    font-size: rem-calc(12px);
  }

  @include breakpoint(medium only) {
    .episode-name {
      font-size: rem-calc(18px);
    }
  }

  @include breakpoint(small only) {
    .episode-name {
      font-size: rem-calc(16px);
    }
  }
}
