.starred-show-list-item {
  color: $app-white;
  margin-bottom: rem-calc(2px);
  height: rem-calc(140px);
  position: relative;
  overflow: hidden;

  &.overlay-bg {
    &:after {
      background: rgba($app-secondary-color, 0.7);
      z-index: 0;
    }

    &:hover {
      &:after {
        background: rgba($app-secondary-color, 0.45);
      }
    }
  }

  &.is-flex {
    display: flex;
  }

  .error-container {
    text-align: center;
    align-self: center;
    width: 100%;
  }

  > a {
    display: block;
    color: $app-white;
    text-shadow: 1px 1px 3px rgba($app-black, 0.4);
    position: relative;
    z-index: 1;
  }

  .grid-x {
    height: rem-calc(140px);
  }

  hr {
    margin: rem-calc(4px) auto;
  }

  .stat {
    font-size: rem-calc(30px);
  }
}
