.page.discover {
  .content-box {
    margin-bottom: rem-calc(20px);

    > .title {
      h2 {
        margin: 0;
      }
    }

    > .content {
      padding-bottom: 0;
    }

    .horizontal-list {
      padding-bottom: rem-calc(10px);

      .loader {
        line-height: rem-calc(237px);
      }
    }

    .button,
    select {
      margin: 0;
    }
  }
}
