.page.show-detail {
  .sub-nav {
    margin-bottom: rem-calc(16px);
  }

  .show-episodes-list {
    .accordion-title,
    .accordion-content {
      padding: 0;
    }

    .accordion-title {
      position: sticky;
      top: 0;
      background: $accordion-background;

      .season-watch-toggle {
        margin-left: rem-calc(10px);
        margin-right: rem-calc(10px);
      }

      &:before {
        font-size: rem-calc(20px);
      }
    }
  }
}
