Hello
<%= name %>,
<br />
<br />
You recently requested to reset your password for your Binge Watch Time account. Use the link below to reset it.
<strong>This password reset is only valid for the next 24 hours.</strong>
<br />
<br />
<a href="<%= url %>">Reset my password</a>
<br />
<br />
If you did not rquest a password reset, please ignore this email or contact support if you have questions.
<br />
<br />
Thank you,
<br />
Binge Watch Time
